<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    <title>GraphView</title>

    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/graphview.css') }}">

    {{ plot3d_script|indent(4)|safe }}
    {{ line_script|indent(4)|safe }}
    
  </head>
  <body>
    <h2> 3D Plot Graph </h2>
    {{ plot3d_div|indent(4)|safe }}
   
    <h2> Line Graph </h2>
    {{ line_div|indent(4)|safe }}
  </body>
</html>
